.button-air {
  background-color: transparent;
  width: 180px;
  height: 60px;
  border: none;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  color: #40423f;
  z-index: 1;
  background: white;
  position: relative;
}

.button-air::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  border: none;
  height: 100%;
  background: #c2b299;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button-air:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-air:hover {
  color: white;
}

.line {
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.line:hover {
  text-decoration: none;
  color: white;
}

.line::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .8px;
  background: white;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.line:hover::before {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.stay-updated {
  background-color: transparent;
  color: white;
  width: 130px;
  height: 50px;
  z-index: 1;
  border: 2px solid white;
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.stay-updated::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  border: none;
  height: 100%;
  background: white;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.stay-updated:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.stay-updated:hover {
  color: #40423f;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

* body {
  overflow-x: hidden;
}

* body header {
  width: 100%;
  height: 100vh;
}

* body header video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

* body header .container-fluid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 0;
}

* body header .container-fluid nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  z-index: 80;
  top: 0;
}

* body header .container-fluid nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header .container-fluid nav ul .nav-li {
  list-style: none;
  color: white;
  font-weight: 450;
}

* body header .container-fluid nav ul .nav-li a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-top: 28px;
}

* body header .container-fluid nav ul .nav-li a span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* body header .container-fluid nav ul .nav-li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

* body header .container-fluid nav ul .nav-li a:hover::before {
  opacity: 1;
}

* body header .container-fluid nav ul .nav-li a:hover span {
  opacity: 0.5;
}

* body header .container-fluid nav .logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  cursor: pointer;
}

* body header .container-fluid nav .ul-2 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

* body header .container-fluid nav .ul-2 li {
  list-style: none;
}

* body header .container-fluid nav .ul-2 .sidepanel {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-top: 60px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .container-fluid nav .ul-2 .sidepanel::-webkit-scrollbar {
  display: none;
}

* body header .container-fluid nav .ul-2 .sidepanel ul {
  padding-left: 40px;
}

* body header .container-fluid nav .ul-2 .sidepanel ul li {
  padding-bottom: 10px;
}

* body header .container-fluid nav .ul-2 .sidepanel ul li a {
  left: 0;
  text-decoration: none;
  color: #e5e1cf;
  display: block;
  position: relative;
  margin-left: 0px;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

* body header .container-fluid nav .ul-2 .sidepanel ul li a:hover {
  color: #787878;
}

* body header .container-fluid nav .ul-2 .sidepanel ul li a i {
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

* body header .container-fluid nav .ul-2 .sidepanel ul li a i:hover {
  color: #787878;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-1 {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-1 li a {
  font-size: 16px;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-2 {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-2 li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-2 li a {
  font-size: 20px;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-2 li span {
  color: white;
  position: absolute;
  right: 0;
  font-size: 27px;
  font-weight: lighter;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-3 {
  width: 220px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

* body header .container-fluid nav .ul-2 .sidepanel .panel-ul-3 i {
  color: white;
  font-size: 19px;
}

* body header .container-fluid nav .ul-2 .sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: white;
  text-decoration: none;
}

* body header .container-fluid nav .ul-2 .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

* body header .container-fluid .lucid-air {
  width: 100%;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

* body header .container-fluid .lucid-air h1 {
  font-family: 'Benne', serif;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 72px;
  position: relative;
}

* body header .container-fluid .lucid-air .row {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* body header .container-fluid .numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .container-fluid .numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  text-align: center;
}

* body header .container-fluid .numbers ul li {
  list-style: none;
}

* body header .container-fluid .numbers ul li h4 {
  font-size: 22px;
}

* body header .container-fluid .numbers ul li p {
  font-family: 'Times New Roman', serif;
  font-size: 52px;
}

@media only screen and (max-width: 650px) {
  * body header .container-fluid nav .logo {
    position: absolute;
    left: 50px;
  }
  * body header .container-fluid .numbers ul li h4 {
    font-size: 12px;
  }
  * body header .container-fluid .numbers ul li p {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1271px) {
  * body header .container-fluid .lucid-air .row {
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

* body #carouselExampleIndicators {
  height: 100vh;
}

* body #carouselExampleIndicators .carousel-indicators li {
  width: 400px;
  margin: 0;
  height: 3px;
  background-color: white;
}

* body #carouselExampleIndicators .carousel-indicators .active {
  height: 3px;
  background-color: white;
  opacity: 1;
}

* body #carouselExampleIndicators .carousel-inner {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100vh;
}

* body #carouselExampleIndicators .carousel-inner .carousel-item {
  width: 800px !important;
  display: block;
}

* body #carouselExampleIndicators .carousel-inner .carousel-item img {
  width: 60% !important;
}

* body #carouselExampleIndicators .carousel-inner .active {
  display: block;
}

* body #carouselExampleIndicators .carousel-control-prev {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 10%;
}

* body #carouselExampleIndicators .carousel-control-next {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 50%;
  right: 10%;
}

* body .row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

* body .row-3 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body .row-3 .slick-next {
  float: right;
  right: 20%;
  z-index: 1;
  content: '';
}

* body .row-3 .slick-prev {
  float: left;
  left: 20%;
  z-index: 1;
}

* body .row-3 .slick-next::before {
  color: white;
  content: '>';
  font-size: 20px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
}

* body .row-3 .slick-prev::before {
  color: white;
  content: '<';
  font-size: 20px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
}

* body .row-3 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .row-3 .box .out {
  width: 100%;
  position: relative;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

* body .row-3 .box .out .out-img {
  width: 100%;
}

* body .row-3 .box .out .out-img img {
  width: 1000px !important;
}

* body .row-3 .box .out .out-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  top: 10%;
}

* body .row-3 .box .out .out-text h1, * body .row-3 .box .out .out-text h5 {
  color: white;
}

* body .row-3 .box .out .out-text h1 {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

* body .row-3 .box .out .out-text h5 {
  font-size: 15px;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

* body .row-3 .box .out .row {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
}

* body .text-section {
  width: 100%;
  height: 100vh;
  background-image: url(../img/text.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: -6;
}

* body .text-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 150px;
  position: fixed;
  color: white;
  font-family: "Georgia", sans-serif;
  font-size: 3.5rem;
  line-height: 4.125rem;
  letter-spacing: 0;
  z-index: -6;
}

* body .our-stories {
  width: 100%;
  min-height: 800px;
  background-color: #1b1b1b;
}

* body .our-stories .container-fluid .heading {
  padding: 3% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .our-stories .container-fluid .heading h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #ededed;
  font-size: 2.875rem;
}

* body .our-stories .container-fluid .heading button {
  width: 150px;
  height: 70px;
}

* body .our-stories .container-fluid .multiple-items {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

* body .our-stories .container-fluid .multiple-items .content {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 20px 0 10px;
  border-right: 1px solid rgba(64, 66, 63, 0.5);
}

* body .our-stories .container-fluid .multiple-items .content .image-i {
  width: 95%;
  height: 280px;
}

* body .our-stories .container-fluid .multiple-items .content #image-i1 {
  background: url(../img/i1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i2 {
  background: url(../img/i2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i3 {
  background: url(../img/i3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i4 {
  background: url(../img/i4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i5 {
  background: url(../img/i5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i6 {
  background: url(../img/i6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i7 {
  background: url(../img/i7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i8 {
  background: url(../img/i8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i9 {
  background: url(../img/i9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content #image-i10 {
  background: url(../img/i10.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* body .our-stories .container-fluid .multiple-items .content .text-i {
  width: 90%;
  height: 120px;
  color: white;
}

* body .our-stories .container-fluid .multiple-items .content .text-i h5 {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  font-size: 1.375rem;
  line-height: 1.8125rem;
  letter-spacing: -.014em;
  color: #ededed;
  font-weight: 300;
}

* body .our-stories .container-fluid .multiple-items .content p {
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.1875rem;
  color: #e4dfd4;
  font-family: 'Roboto', sans-serif;
}

* body .our-stories .container-fluid .slick-next, * body .our-stories .container-fluid .slick-prev {
  content: '>';
  top: 120%;
  margin: 0 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

* body .our-stories .container-fluid .slick-next:hover, * body .our-stories .container-fluid .slick-prev:hover {
  background-color: white;
}

* body .our-stories .container-fluid .slick-next:hover::before, * body .our-stories .container-fluid .slick-prev:hover::before {
  color: black;
}

* body .our-stories .container-fluid .slick-prev::before {
  content: '\2039';
  font-size: 30px;
  line-height: 0;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

* body .our-stories .container-fluid .slick-next::before {
  content: '\203A';
  font-size: 30px;
  line-height: 0;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

* body .two-div {
  width: 100%;
  min-height: 600px;
  background-color: #1b1b1b;
}

* body .two-div .container-fluid {
  padding: 0 6%;
}

* body .two-div .container-fluid .row .studios {
  height: 400px;
  padding: 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .two-div .container-fluid .row .studios img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

* body .two-div .container-fluid .row .studios:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body .two-div .container-fluid .row .text-std {
  position: absolute;
  bottom: 40px;
  left: 60px;
  color: white;
  z-index: 5;
  font-weight: thin;
}

* body .two-div .container-fluid .row .careers {
  height: 400px;
  padding: 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .two-div .container-fluid .row .careers img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

* body .two-div .container-fluid .row .careers:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body .ig {
  width: 100%;
  min-height: 150px;
  background-color: #1b1b1b;
}

* body .ig .container-fluid {
  padding: 0 6%;
}

* body .ig .container-fluid .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 30px;
}

* body .ig .container-fluid .row h1 {
  color: #c2b299;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.25rem;
}

* body .ig .container-fluid .row .ig-acc {
  width: 220px;
  cursor: pointer;
}

* body .ig .container-fluid .row .ig-acc:hover .follow {
  color: #1b1b1b;
}

* body .ig .container-fluid .row .ig-acc:hover .acc::before {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

* body .ig .container-fluid .row .ig-acc p a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

* body .ig .container-fluid .row .ig-acc p a .follow {
  -webkit-transition: .3s;
  transition: .3s;
  padding-right: 5px;
}

* body .ig .container-fluid .row .ig-acc p a i {
  padding-right: 5px;
}

* body .ig .container-fluid .row .ig-acc p a .acc {
  position: relative;
}

* body .ig .container-fluid .row .ig-acc p a .acc::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .8px;
  background: white;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

* body .responsive {
  width: 100% !important;
  position: relative;
}

* body .responsive .slick-list {
  width: 100%;
}

* body .responsive .slick-list .slick-track .slide {
  height: 300px;
}

* body .responsive .slick-list .slick-track .slide-1 {
  background-image: url(../img/s1.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-2 {
  background-image: url(../img/s2.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-3 {
  background-image: url(../img/s3.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-4 {
  background-image: url(../img/s4.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-5 {
  background-image: url(../img/s5.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-6 {
  background-image: url(../img/s6.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-7 {
  background-image: url(../img/s7.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-8 {
  background-image: url(../img/s8.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-9 {
  background-image: url(../img/s9.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-10 {
  background-image: url(../img/s10.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-11 {
  background-image: url(../img/s11.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-12 {
  background-image: url(../img/s12.jpg);
  background-size: cover;
}

* body .responsive .slick-list .slick-track .slide-13 {
  background-image: url(../img/s13.jpg);
  background-size: cover;
}

* body .pink {
  width: 100%;
  height: 400px;
  background-color: #dbd4c5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

* body .pink .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .pink .container .row .pink-text {
  margin-top: 100px;
  color: black;
}

* body .pink .container .row .pink-text h2 {
  font-size: 2.19125rem;
  font-weight: 400;
}

* body .pink .container .row .pink-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .pink .container .row .pink-input #hideh {
  opacity: 0;
  padding: 8px 0;
  font-size: 11px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  letter-spacing: 2.75px;
  color: #787878;
}

* body .pink .container .row .pink-input #js {
  width: 100%;
  font-family: 'Arial';
  height: 64px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  padding: 22px 25px;
  color: #40423f;
  background-color: white;
  border: none;
  font-size: 17.5px;
  margin-bottom: 40px;
}

* body .pink .container .row .pink-input #js:focus {
  outline: none;
}

* body .pink .container .row .pink-input #show {
  opacity: 0;
  height: 100px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

* body .pink .container .row .pink-input #show #radio-select {
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 40px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  color: #40423f;
  border: 1px solid #787878;
}

* body .pink .container .row .pink-input #show .black-submit {
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  padding: 1rem 4.5rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  margin-bottom: 2.5rem;
}

* body .pink .container .row .pink-input #show .black-submit:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

* body .info {
  width: 100%;
  min-height: 750px;
  background-color: #ededed;
}

* body .info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 750px;
}

* body .info .container .row {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 50px;
}

* body .info .container .row .info-1 {
  width: 23%;
  padding-top: 30px;
}

* body .info .container .row .info-1 p {
  font-size: 1.6625rem;
  padding-bottom: .875rem;
  font-weight: 400;
  margin-bottom: .75rem;
  color: #000;
}

* body .info .container .row .info-1 a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 1.27188rem;
  line-height: 3rem;
  position: relative;
}

* body .info .container .row .info-1 a::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .9px;
  background: black;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

* body .info .container .row .info-1 a:hover::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

* body .info .container .row .info-1 ul li {
  list-style: none;
}

* body .info .container #row-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* body .info .container #row-row #info-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body .info .container #row-row #info-2 .dropdown .dropdown-toggle {
  background-color: transparent;
  color: #1b1b1b;
  border: none;
  padding: 0 0 15px 0;
}

* body .info .container #row-row #info-2 .dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

* body .info .container #row-row #info-2 .dropdown .dropdown-menu {
  min-width: 3rem;
}

* body .info .container #row-row #info-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

* body .info .container #row-row #info-2 ul li a i {
  font-size: 22px;
}

* body .info .container #row-row #info-2 .privacy p {
  font-size: 15px;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  color: #1b1b1b;
}

* body .info .container #row-row #info-2 p {
  font-size: 12px;
  margin: 0;
  color: #979797;
}

* body .the-end {
  width: 100%;
  background-color: #e1e0dc;
}

* body .the-end .container-fluid {
  padding: 0 9%;
}

* body .the-end .container-fluid p {
  padding: 4% 0;
  font-size: 12px;
  line-height: 1.5;
  color: #787878;
  margin: 0;
}

@media only screen and (max-width: 1274px) {
  * body .text-section .text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  * body .row-3 .slick-next::before {
    display: none;
  }
  * body .row-3 .slick-prev::before {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */